@import '@styles/variables.scss';
.menu-wrapper {
  padding-top: 1rem;
  padding-bottom: 1rem;
  overflow: hidden;
  background: #fff;
  max-width: 700px;
}
.menu-item-wrapper {
  padding: 0.25rem;
  padding: 0.5rem;
}
.day {
  min-width: 4.5rem;
  min-height: 5.5rem;
  background: #fff;
  border-radius: 20px;
  border: 3px solid $main-color;
  display: flex;
  flex-flow: column wrap;
  align-content: center;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  &:hover {
    background: $main-color;
    box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.75);
    transition: 0.15s;
    color: #fff;
  }
  .number {
    font-weight: 800;
    font-size: 30px;
  }
  .days {
    font-weight: 500;
    font-size: 15px;
  }
}
.selected {
  background: $main-color;
  box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.75);
  transition: 0.25s;
  color: #fff;
  &:hover {
    box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.75);
    transition: 0.15s;
    color: $text-color-light;
  }
}
.horizontal-menu {
  justify-content: center;
}
@media only screen and (min-width: 0px) and (max-width: 767px) {
  .menu-wrapper {
    max-width: 280px;
    width: 100%;
  }
  .day {
    min-width: 2.6rem;
    min-height: 3.5rem;
    border-radius: 15px;
    .number {
      font-weight: 800;
      font-size: 15px;
    }
    .days {
      font-weight: 500;
      font-size: 12px;
    }
  }
  .menu-wrapper {
    padding-top: 1rem;
  }
}
