@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,700);

$text-color: #121212;
$bg-image: url('https://i.pinimg.com/originals/b9/c8/f8/b9c8f893c9a782033a01f47e0c0b1d6e.jpg');

* {
  box-sizing: border-box;
}

:focus {
  outline-style: none;
  outline-width: 0px !important;
  outline-color: none !important;
}
body {
  font-family: 'Open Sans', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  font-size: 1em;
  font-weight: 300;
  line-height: 1.5;
  color: $text-color;
  background: $bg-image;
  position: relative;
}
main {
  display: block;
  margin: 0 auto;
  margin-top: 5em;
  max-width: 50em;
}
